:root {
     /*Font Values*/
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    --xl-font-size: 4.4rem;
    --l-font-size: 4.0rem;
    --m-font-size: 2.2rem;
    --s-font-size: 1.8rem;
    --xs-font-size: 1.5rem;

    --m-line-height: 3.6rem;

    --font-weight-light: 300;
    --font-weight-medium: 500;

    /*Color Values*/
    --white: #FFFFFF;
    --black: #000000;
    --accent-color: hsl(358, 54%, 44%);
    --accent-color-dark: hsl(358, 60%, 40%);
    --light-grey: #D8D8D8;
    --grey: #707073;
    --text-color: #2E3133;

    /*Layout Values*/
    --max-width: 1500px;
    --min-width: 1200px;

}

html,
body {
  height: 100%;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* enables REMS to be used like pixels ex: 1.6 rem = 16px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.container {
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(0, 0, 0, 0) 100%);
}

.header {

}

.header__button {
    background-color: var(--accent-color);
    border: none;
    color: var(--white);
    font-family: var(--primary-font);
    font-size: var(--xs-font-size);
    font-weight: var(--font-weight-medium);
    padding: 1rem;
    width: 100%;
}

.header__button:after {
    content: "";
    background-image: url("./img/icons/white-arrow.svg");
    background-size: var(--s-font-size) var(--s-font-size);
    background-repeat: no-repeat;
    display: inline-block;
    height: var(--s-font-size);
    margin-left: 5px;
    position: relative;
    top: 3px;
    transform: rotate(180deg);
    transition: transform 0.3s;
    width: var(--s-font-size);
}

.header__button:hover {
    cursor: pointer;
}

.header__button:hover:after {
    transform: rotate(180deg) translateX(-5px);
}

.main-heading {
    font-family: var(--primary-font);
    font-size: var(--m-font-size);
    font-weight: var(--font-weight-light);
    margin-top: 3rem;
    padding-bottom: 1rem;
    text-align: center;
}


.treatments-copy {
    font-family: var(--primary-font);
    font-size: var(--m-font-size);
    font-weight: var(--font-weight-light);
    line-height: var(--m-line-height);
    margin-bottom: 5rem;
}

.treatments-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0 auto;
    max-width: var(--max-width);
}

.treatments-list__heading {
    color: var(--white);
    font-family: var(--secondary-font);
    font-size: var(--l-font-size);
    font-weight: var(--font-weight-light);
    margin-bottom: 2rem;
}

.treatments-list__item { 
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 30rem;
    justify-content: flex-end;
    margin-bottom: 2rem;
    width: 100%;
}


/**********************
Helper classes
***********************/
.side-padding--20px {
    padding-left: 2rem;
    padding-right: 2rem;
}

.bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-face-image {
    background-image: url('./img/face.png');
}

.bg-breasts-image {
    background-image: url('./img/breasts.png');
}

.bg-body-image {
    background-image: url('./img/body.png');
}

.bg-medspa-image {
    background-image: url('./img/medspa.png');
}



/*********************
TABLET Media Query
**********************/
@media screen and (min-width: 600px) {

    .main-heading {
        font-size: var(--l-font-size);
        margin-bottom: 2rem;
        margin-top: 6rem;
    }

    .treatments-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .treatments-list__item {
        width: 48%;
    }
  }


/*********************
DESKTOP Media Query
**********************/
@media screen and (min-width: 1024px) {

    .treatments-copy {
        text-align: center;
        font-size: var(--s-font-size);
        width: 70%;
        margin: 0 auto;
    }

    .treatments-list {
        display: flex;
        flex-basis: 250px;
        flex-direction: row;
        flex-shrink: 0;
        justify-content: space-evenly;
    }

    .treatments-list__item {
        width: 20%;
    }

    .side-padding--20px {
        padding-left: 0;
        padding-right: 0;
    }


  }